// navbar css

.nav{
  display:flex;
  justify-content: space-between;
  position: relative;
  padding-right: 0px;
  margin-top: 25px;
  border-bottom: solid;
  border-bottom-color: rgba(0, 0, 0, .25);
  .item{
    margin: 0 5px 0 5px;
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
    text-transform: uppercase;
  }

  .item:hover, .activeNav {
    color: $off-white;
    cursor: pointer;
  }

  .slider{
    display: inline-block;
    position: relative;
  }

  .taiga{
    z-index: 2;
    display: inline-block;
    transition: all 1s ease-in-out;

  }

  .hidden-content{
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
  }


  .slider:hover .taiga{
    display: inline-block;
    transform: translate(100px, 0);
  }

  .slider:hover .hidden-content{
    visibility: visible;
    transition: visibility 0.9s ease-in;
    transition-delay: 0.5s;
  }





}
